<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByfTB3iNMcrc_HUpNPp7YNLumtnMyvOeg</string>
	<key>GCM_SENDER_ID</key>
	<string>362509741405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uw.ischool.yl0517.SoleMate</string>
	<key>PROJECT_ID</key>
	<string>solemate-4963f</string>
	<key>STORAGE_BUCKET</key>
	<string>solemate-4963f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362509741405:ios:ca0533e33ee164534a4cb4</string>
</dict>
</plist>